<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="firstapp.wirinun"
      android:versionCode="1"
      android:versionName="1.0" android:installLocation="auto">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".start"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".StartScreenActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>        
        <activity android:name=".LoadDictionaryActivity" android:label="@string/app_name"
          android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name=".CreateDictionaryActivity" android:label="@string/app_name"
          android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name=".SimpleDictionaryActivity" android:label="@string/app_name"
        >
        </activity>
        <activity android:name=".MyPreferencesActivity" android:label="@string/app_name"
          android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name=".StoreActivity" android:label="@string/app_name"
          android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name=".WebActivity" android:label="@string/app_name"
          android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name=".BrowseActivity" android:label="@string/app_name"
          android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <service android:name="DictionaryService" />            
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="8"></uses-sdk>
</manifest> 